<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form>
    <input type="text" id="username" placeholder="Enter username" required/><br/>
    <input type="password" id="password" placeholder="Enter password" required/><br/>
    <input type="tel" id="tel" placeholder="010-0000-0000"/><br/>
    <button type="button" onclick="join()">회원가입</button>
</form>

<script>
    async function join() {
        // this란 : https://www.youtube.com/watch?v=tDZROpAdJ9w
        this.event.preventDefault();  // form 태그 액션을 실행하지마!!

        let requestBody = {
            username: document.querySelector("#username").value,
            password: document.querySelector("#password").value,
            tel: document.querySelector("#tel").value,
        };

        try {
            let response = await fetch("/join/v2", {
                method: "post",
                body: JSON.stringify(requestBody),
                headers: {
                    "Content-Type": "application/json; charset=utf-8"
                }
            });
            let responseBody = await response.json();

            if (!response.ok) {
                throw new Error(responseBody.msg);
            }

            console.log(responseBody.data);
            alert(responseBody.msg);
            location.href = "/";
        } catch (err) {
            alert(err);
            // console.error(err);
        }
    }
</script>
</body>
</html>
